body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

#player-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
}

.active {
    opacity: 1;
    z-index: 1;
}

.inactive {
    opacity: 0;
    z-index: 0;
}

#content-frame {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}